@import url('https://fonts.googleapis.com/css2?family=Mate+SC&display=swap');

*
{
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    background: #63636e;
    text-align: center;
}

h1 {
    font-family: Mate Sc;
    font-size: 3em;
    color: white;
}

#eye {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 300px;
    width: 300px;
    background: white;
    border-radius: 50%;
    overflow: hidden;
    box-shadow: 0 0 30px 1px #222236ad;
}

#eyeBall {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 70px;
    width: 70px;
    transform: translate(-50%, -50%);
    background: black;
    border-radius: 50%;
    transition: 0;
}